body,
html {
  margin: 0;
  background: url("../img/5.png");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
}
.dweb {
  background: #00000060;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.12), 0 0 6px rgba(0, 0, 0, 0.04);
  /* 在各种设备下按比例缩放边角 */
  border-radius: 0.25rem;
}
.dweb .header {
  font-size: 18px;
  color: #fff;
  text-align: center;
  font-weight: 500;
}

/* 头部导航 */
#top-menu {
  width: 100vw;
  height: 60px;
  position: fixed;
  top: 0;
  z-index: 1001;
  border-radius: 0 0 0.25rem 0.25rem;
}

/* 侧边栏 */
#left-menu {
  width: 200px;
  height: 100vh;
  position: fixed;
  z-index: 1001;
  border-radius: 0 0.25rem 0.25rem 0;
  transition: all 0.3s ease;
}
#left-menu.xs {
  margin-left: -200px;
  transition: all 0.3s ease;
}
#left-menu #left-btn {
  font-size: 35px;
  color: #ffc815;
  position: absolute;
  left: 200px;
  height: 60px;
  display: flex;
  align-items: center;
}

/* 页面内容 */
#content {
  /* height: 1200px; */
  position: relative;
  top: 60px;
  margin-left: 220px;
  margin-right: 20px;
  padding: 10px 0;
}

#content.xs {
  margin-left: 20px;
}

/* 页面底部 */
#footer {
  margin-top: 10px;
  text-align: center;
  padding: 10px 0;
  color: #fff;
  font-size: 16px;
  font-weight: 500;
}

/* 导航栏框架修改 */
.el-submenu__title:hover {
  background-color: #00000060 !important;
}
.el-menu-item:hover {
  background-color: #00000060 !important;
}
.el-menu {
  border: none;
}
.el-menu i {
  color: #ffc815;
}
.el-form-item__label {
  color: #fff;
}
.el-input input {
  background: #00000060;
  color: #fff;
  border: none;
}
.el-textarea__inner {
  background: #00000060;
  border: none;
  color: #fff;
}

/* summernote */
.note-btn {
  color: antiquewhite;
}
.note-btn:hover {
  color: #ffc815;
}
.dropdown-menu {
  background: #00000060;
  color: burlywood;
}
.dropdown-menu a {
  color: burlywood;
}
.popover {
  background: #00000060;
}
.note-editable {
  background-color: #00000060;
  color: antiquewhite;
}
